exportClasses(Rcade, RcadeTrack)
exportMethods(plotMM, plotBB, plotBBB, plotPCA, exportRcade, getDE, getChIP, getRcade, "getDE<-", "getChIP<-", "getRcade<-")

##Analysis function
export(RcadeAnalysis)

##Analysis Modules
export(defineBins, countReads, diffCountsBaySeq, constructRcadeTable)


importFrom(rgl, plot3d)
importFrom(S4Vectors, ifelse)
