import(methods)
importFrom(utils, packageDescription, write.csv)
importFrom(grDevices, rainbow)
importFrom(stats, prcomp)
import(graphics)
importFrom(rgl, plot3d)
importFrom(plotrix, color.legend)
import(S4Vectors)
import(IRanges)
import(GenomeInfoDb)
import(GenomicRanges)
import(Rsamtools)
import(GenomicAlignments)
import(baySeq)

exportClasses(Rcade, RcadeTrack)
exportMethods(plotMM, plotBB, plotBBB, plotPCA, exportRcade, getDE, getChIP, getRcade, "getDE<-", "getChIP<-", "getRcade<-")

##Analysis function
export(RcadeAnalysis)

##Analysis Modules
export(defineBins, countReads, diffCountsBaySeq, constructRcadeTable)

